{% load static %}


<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Osus POS: Creative POS Dashboard</title>
    <meta name="description" content="Osus POS - Creative POS Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/themify-icons/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "vendors/flag-icon-css/css/flag-icon.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/selectFX/css/cs-skin-elastic.css" %}">
    <link rel="stylesheet" href="{% static "vendors/jqvmap/dist/jqvmap.min.css" %}">
    


    <link rel="stylesheet" href="{% static "assets\css\style.css" %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="{% static "assets/js/steptime.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

{% block content %}

{% endblock %}
    

</body>

</html>
