{% extends 'base.html' %}

{% block content %}

<body>
    {% csrf_token %}

    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">POS System</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="menu"> <i class="menu-icon fa fa-cutlery"></i>Menu </a>
                    </li>
                    <li class="active">
                        <a href="order"> <i class="menu-icon fa fa-shopping-cart"></i>Order </a>
                    </li>
                    <li class="active">
                        <a href="bill_records"> <i class="menu-icon fa fa-calendar"></i>Order History </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-user"></i>
                            Cashier Name
                        </a>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <!--Content on the right side-->
        <div class="col-md-12">

            <div class="table-responsive">
                <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                    <thead>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>ID</th>
                    <th>Total</th>
                    <th>Created by</th>
                    <th>Date</th>

                    </thead>
                    <tbody>
                    {% for bill in bills %}
                        <tr>
                            <td><input type="checkbox" class="checkthis" /></td>
                            <td> <a href="invoice/{{ bill.id }}"> {{ bill.id }}</a></td>
                            <td>{{ bill.total }}</td>
                            <td>{{ bill.created_by }}</td>
                            <td>{{ bill.dates }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>


        <!--Content on the right side-->


        {% load static %}
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendors/popper.js/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>


    <script src="{% static "vendors/chart.js/dist/Chart.bundle.min.js" %}"></script>
    <script src="{% static "assets/js/dashboard.js" %}"></script>
    <script src="{% static "assets/js/widgets.js" %}"></script>
    <script src="{% static "vendors/jqvmap/dist/jquery.vmap.min.js" %}"></script>
    <script src="{% static "vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" %}"></script>
    <script src="{% static "vendors/jqvmap/dist/maps/jquery.vmap.world.js" %}"></script>
    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

{% endblock %}







 
